/* Yelp Section - Event Page */

.results {
  position: center;
    padding: 5px;
    overflow-x: scroll;
    white-space: nowrap;
    height: 800px;
    width: 800px;
}

.yelp-bar-format {
    padding: 0;
}

.items {
    display: inline-block;
}

.image-resize-div {
  position: relative;
  width: 800px;
  height: 450px;
  overflow: hidden;
}
.image-resize-div img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
